/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
/* line 5, ../../sass/base/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../sass/base/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../sass/base/_reset.sass */
body {
  line-height: 1;
}

/* line 34, ../../sass/base/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 37, ../../sass/base/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 40, ../../sass/base/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 45, ../../sass/base/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Rounded corners from https://gist.github.com/victorbstan/889463*/
/* non highlighted code colors */
/* line 9, ../../sass/base/_typography.scss */
.heading, #wrap > header h1 {
  font-family: "Montserrat", sans-serif;
}

/* line 12, ../../sass/base/_typography.scss */
.sans, html .gist .gist-file .gist-meta {
  font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
}

/* line 13, ../../sass/base/_typography.scss */
.serif, body {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

/* line 14, ../../sass/base/_typography.scss */
.mono, pre, code, tt, p code, li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 16, ../../sass/base/_typography.scss */
a {
  text-decoration: none;
  color: #ff5e00;
}

/* line 21, ../../sass/base/_typography.scss */
body {
  line-height: 1.25em;
  color: black;
}

/* line 28, ../../sass/base/_typography.scss */
#wrap > header h1 {
  font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 5em;
}

/* line 35, ../../sass/base/_typography.scss */
#wrap > header h2 {
  font-family: "Alegreya", "PT Serif", serif;
}

@media only screen and (min-width: 992px) {
  /*body { font-size: 1.15em; }*/
}
/* line 44, ../../sass/base/_typography.scss */
nav, .pagination, .header-links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 50, ../../sass/base/_typography.scss */
article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1.35em;
  line-height: 1.15em;
}
/* line 53, ../../sass/base/_typography.scss */
article h1 a, article h2 a, article h3 a, article h4 a, article h5 a, article h6 a {
  color: black;
}

/* line 61, ../../sass/base/_typography.scss */
section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
/* line 64, ../../sass/base/_typography.scss */
section h1 a {
  color: black;
}

/* line 69, ../../sass/base/_typography.scss */
h1 {
  font-size: 1.7em;
}

/* line 73, ../../sass/base/_typography.scss */
h2, section h1 {
  font-size: 1.5em;
}

/* line 76, ../../sass/base/_typography.scss */
h3, section h2, section section h1 {
  font-size: 1.3em;
}

/* line 79, ../../sass/base/_typography.scss */
h4, section h3, section section h2, section section section h1 {
  font-size: 1em;
}

/* line 82, ../../sass/base/_typography.scss */
h5, section h4, section section h3 {
  font-size: .9em;
}

/* line 85, ../../sass/base/_typography.scss */
h6, section h5, section section h4, section section section h3 {
  font-size: .8em;
}

/* line 89, ../../sass/base/_typography.scss */
.meta {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* line 95, ../../sass/base/_typography.scss */
p, article blockquote, ul, ol {
  margin-bottom: 0.75em;
}

/* line 97, ../../sass/base/_typography.scss */
li {
  margin-bottom: 0.5em;
}

/* line 101, ../../sass/base/_typography.scss */
ul {
  list-style-type: circle;
  margin-left: 2em;
}

/* line 106, ../../sass/base/_typography.scss */
ol {
  list-style-type: decimal;
  margin-left: 2em;
}

/* line 111, ../../sass/base/_typography.scss */
sup, sub {
  font-size: 0.75em;
  position: relative;
  display: inline-block;
  padding: 0 .2em;
  line-height: .8em;
}

/* line 112, ../../sass/base/_typography.scss */
sup {
  top: -.5em;
}

/* line 113, ../../sass/base/_typography.scss */
sub {
  bottom: -.5em;
}

/* line 115, ../../sass/base/_typography.scss */
a[rev='footnote'] {
  font-size: .75em;
  padding: 0 .3em;
  line-height: 1;
}

/* line 117, ../../sass/base/_typography.scss */
q {
  font-style: italic;
}
/* line 118, ../../sass/base/_typography.scss */
q:before {
  content: "\201C";
}
/* line 119, ../../sass/base/_typography.scss */
q:after {
  content: "\201D";
}

/* line 122, ../../sass/base/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 124, ../../sass/base/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 126, ../../sass/base/_typography.scss */
del, s {
  text-decoration: line-through;
}

/* line 128, ../../sass/base/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 132, ../../sass/base/_typography.scss */
hr {
  margin-bottom: 0.2em;
}

/* line 134, ../../sass/base/_typography.scss */
small {
  font-size: .8em;
}

/* line 136, ../../sass/base/_typography.scss */
big {
  font-size: 1.2em;
}

/* line 138, ../../sass/base/_typography.scss */
article blockquote {
  font-style: italic;
  /*  position: relative;
    font-size: 1.2em;
    line-height: 1.5em;*/
  padding-left: 1em;
  border-left: 4px solid rgba(51, 51, 51, 0.5);
}
/* line 146, ../../sass/base/_typography.scss */
article blockquote cite {
  font-style: italic;
}
/* line 148, ../../sass/base/_typography.scss */
article blockquote cite a {
  color: #333333 !important;
  word-wrap: break-word;
}
/* line 149, ../../sass/base/_typography.scss */
article blockquote cite:before {
  content: '\2014';
  padding-right: .3em;
  padding-left: .3em;
  color: #333333;
}
@media only screen and (min-width: 992px) {
  /* line 138, ../../sass/base/_typography.scss */
  article blockquote {
    padding-left: 1.5em;
    border-left-width: 4px;
  }
}

/* line 158, ../../sass/base/_typography.scss */
.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

/* line 178, ../../sass/base/_typography.scss */
.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* @extend this to force long lines of continuous text to wrap */
/* line 185, ../../sass/base/_typography.scss */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, ../../sass/base/_syntax.scss */
.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  border-right: 1px solid #cccccc !important;
  border-left: 1px solid #cccccc !important;
  border-bottom: 1px solid #cccccc !important;
}
/* line 2, ../../sass/base/_syntax.scss */
.highlight table td.code, html .gist .gist-file .gist-syntax .gist-highlight table td.code {
  width: 100%;
}

/* line 7, ../../sass/base/_syntax.scss */
.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
  text-align: right;
  font-size: 13px;
  line-height: 1.45em;
  background-color: #c4c4c4;
  color: #4d4d4d;
  border-right: 1px solid #cccccc !important;
  /*span { color: $base01 !important; }*/
  padding: .8em !important;
  /*@include border-radius(0);*/
}

/* line 23, ../../sass/base/_syntax.scss */
.gist .highlight, figure.code .highlight {
  /*@include selection(adjust-color($base03, $lightness: 23%, $saturation: -65%), $text-shadow: $base03 0 1px);*/
}

/* line 27, ../../sass/base/_syntax.scss */
html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  /*padding-top: image-height("code_bg.png") !important;*/
}
/* line 32, ../../sass/base/_syntax.scss */
html .gist .gist-file .highlight {
  margin-bottom: 0;
}
/* line 35, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-syntax {
  border-bottom: 0 !important;
  background: none !important;
}
/* line 38, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-syntax .gist-highlight {
  background: #f7f7f7 !important;
}
/* line 41, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-syntax .highlight pre {
  padding: 0;
}
/* line 46, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-meta {
  padding: .6em 0.8em;
  /*border: 1px solid #ccc !important;*/
  color: #1a1a1a;
  font-size: .7em !important;
  background-color: #f7f7f7;
  line-height: 1.5em;
}
/* line 54, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-meta a {
  color: #ff5e00 !important;
  /*@include hover-link;*/
}
/* line 57, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-meta a:hover {
  color: #ff5e00 !important;
}
/* line 59, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-meta a[href*='#file'] {
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  color: #ff5e00 !important;
}
/* line 63, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-meta a[href*='#file']:hover {
  color: #ff5e00 !important;
}
/* line 65, ../../sass/base/_syntax.scss */
html .gist .gist-file .gist-meta a[href*=raw] {
  top: .4em;
}

/* line 71, ../../sass/base/_syntax.scss */
pre {
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: #1a1a1a;
  overflow: auto;
}

/* line 87, ../../sass/base/_syntax.scss */
p code, li code {
  display: inline-block;
  white-space: no-wrap;
  background-color: #f7f7f7;
  font-size: .8em;
  line-height: 1.5em;
  border: 1px solid #cccccc;
  padding: 0 2px;
  margin: -1px 0px;
}
/* line 98, ../../sass/base/_syntax.scss */
p pre code, li pre code {
  font-size: 1em !important;
  background: none;
  border: none;
}

/* line 101, ../../sass/base/_syntax.scss */
.pre-code, html .gist .gist-file .gist-syntax .highlight pre, .highlight code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em;
  overflow-x: auto;
  line-height: 1.45em;
  background-color: #f7f7f7 !important;
  color: #1a1a1a;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */
}
/* line 111, ../../sass/base/_syntax.scss */
.pre-code span, html .gist .gist-file .gist-syntax .highlight pre span, .highlight code span {
  color: #586e75 !important;
}
/* line 112, ../../sass/base/_syntax.scss */
.pre-code span, html .gist .gist-file .gist-syntax .highlight pre span, .highlight code span {
  font-style: normal !important;
  font-weight: normal !important;
}
/* line 114, ../../sass/base/_syntax.scss */
.pre-code .c, html .gist .gist-file .gist-syntax .highlight pre .c, .highlight code .c {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 115, ../../sass/base/_syntax.scss */
.pre-code .cm, html .gist .gist-file .gist-syntax .highlight pre .cm, .highlight code .cm {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 116, ../../sass/base/_syntax.scss */
.pre-code .cp, html .gist .gist-file .gist-syntax .highlight pre .cp, .highlight code .cp {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 117, ../../sass/base/_syntax.scss */
.pre-code .c1, html .gist .gist-file .gist-syntax .highlight pre .c1, .highlight code .c1 {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 118, ../../sass/base/_syntax.scss */
.pre-code .cs, html .gist .gist-file .gist-syntax .highlight pre .cs, .highlight code .cs {
  color: #93a1a1 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
/* line 119, ../../sass/base/_syntax.scss */
.pre-code .err, html .gist .gist-file .gist-syntax .highlight pre .err, .highlight code .err {
  color: #dc322f !important;
  background: none !important;
}
/* line 120, ../../sass/base/_syntax.scss */
.pre-code .k, html .gist .gist-file .gist-syntax .highlight pre .k, .highlight code .k {
  color: #cb4b16 !important;
}
/* line 121, ../../sass/base/_syntax.scss */
.pre-code .o, html .gist .gist-file .gist-syntax .highlight pre .o, .highlight code .o {
  color: #586e75 !important;
  font-weight: bold !important;
}
/* line 122, ../../sass/base/_syntax.scss */
.pre-code .p, html .gist .gist-file .gist-syntax .highlight pre .p, .highlight code .p {
  color: #586e75 !important;
}
/* line 123, ../../sass/base/_syntax.scss */
.pre-code .ow, html .gist .gist-file .gist-syntax .highlight pre .ow, .highlight code .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
/* line 124, ../../sass/base/_syntax.scss */
.pre-code .gd, html .gist .gist-file .gist-syntax .highlight pre .gd, .highlight code .gd {
  color: #586e75 !important;
  background-color: #f4c5b6 !important;
  display: inline-block;
}
/* line 125, ../../sass/base/_syntax.scss */
.pre-code .gd .x, html .gist .gist-file .gist-syntax .highlight pre .gd .x, .highlight code .gd .x {
  color: #586e75 !important;
  background-color: #f1b1a4 !important;
  display: inline-block;
}
/* line 126, ../../sass/base/_syntax.scss */
.pre-code .ge, html .gist .gist-file .gist-syntax .highlight pre .ge, .highlight code .ge {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 128, ../../sass/base/_syntax.scss */
.pre-code .gh, html .gist .gist-file .gist-syntax .highlight pre .gh, .highlight code .gh {
  color: #93a1a1 !important;
}
/* line 129, ../../sass/base/_syntax.scss */
.pre-code .gi, html .gist .gist-file .gist-syntax .highlight pre .gi, .highlight code .gi {
  color: #586e75 !important;
  background-color: #e5e3b5 !important;
  display: inline-block;
}
/* line 130, ../../sass/base/_syntax.scss */
.pre-code .gi .x, html .gist .gist-file .gist-syntax .highlight pre .gi .x, .highlight code .gi .x {
  color: #586e75 !important;
  background-color: #cdd088 !important;
  display: inline-block;
}
/* line 133, ../../sass/base/_syntax.scss */
.pre-code .gs, html .gist .gist-file .gist-syntax .highlight pre .gs, .highlight code .gs {
  color: #586e75 !important;
  font-weight: bold !important;
}
/* line 134, ../../sass/base/_syntax.scss */
.pre-code .gu, html .gist .gist-file .gist-syntax .highlight pre .gu, .highlight code .gu {
  color: #6c71c4 !important;
}
/* line 136, ../../sass/base/_syntax.scss */
.pre-code .kc, html .gist .gist-file .gist-syntax .highlight pre .kc, .highlight code .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
/* line 137, ../../sass/base/_syntax.scss */
.pre-code .kd, html .gist .gist-file .gist-syntax .highlight pre .kd, .highlight code .kd {
  color: #268bd2 !important;
}
/* line 138, ../../sass/base/_syntax.scss */
.pre-code .kp, html .gist .gist-file .gist-syntax .highlight pre .kp, .highlight code .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
/* line 139, ../../sass/base/_syntax.scss */
.pre-code .kr, html .gist .gist-file .gist-syntax .highlight pre .kr, .highlight code .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
/* line 140, ../../sass/base/_syntax.scss */
.pre-code .kt, html .gist .gist-file .gist-syntax .highlight pre .kt, .highlight code .kt {
  color: #2aa198 !important;
}
/* line 141, ../../sass/base/_syntax.scss */
.pre-code .n, html .gist .gist-file .gist-syntax .highlight pre .n, .highlight code .n {
  color: #268bd2 !important;
}
/* line 142, ../../sass/base/_syntax.scss */
.pre-code .na, html .gist .gist-file .gist-syntax .highlight pre .na, .highlight code .na {
  color: #268bd2 !important;
}
/* line 143, ../../sass/base/_syntax.scss */
.pre-code .nb, html .gist .gist-file .gist-syntax .highlight pre .nb, .highlight code .nb {
  color: #859900 !important;
}
/* line 144, ../../sass/base/_syntax.scss */
.pre-code .nc, html .gist .gist-file .gist-syntax .highlight pre .nc, .highlight code .nc {
  color: #d33682 !important;
}
/* line 145, ../../sass/base/_syntax.scss */
.pre-code .no, html .gist .gist-file .gist-syntax .highlight pre .no, .highlight code .no {
  color: #b58900 !important;
}
/* line 147, ../../sass/base/_syntax.scss */
.pre-code .nl, html .gist .gist-file .gist-syntax .highlight pre .nl, .highlight code .nl {
  color: #859900 !important;
}
/* line 148, ../../sass/base/_syntax.scss */
.pre-code .ne, html .gist .gist-file .gist-syntax .highlight pre .ne, .highlight code .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 149, ../../sass/base/_syntax.scss */
.pre-code .nf, html .gist .gist-file .gist-syntax .highlight pre .nf, .highlight code .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 150, ../../sass/base/_syntax.scss */
.pre-code .nn, html .gist .gist-file .gist-syntax .highlight pre .nn, .highlight code .nn {
  color: #b58900 !important;
}
/* line 151, ../../sass/base/_syntax.scss */
.pre-code .nt, html .gist .gist-file .gist-syntax .highlight pre .nt, .highlight code .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 152, ../../sass/base/_syntax.scss */
.pre-code .nx, html .gist .gist-file .gist-syntax .highlight pre .nx, .highlight code .nx {
  color: #b58900 !important;
}
/* line 155, ../../sass/base/_syntax.scss */
.pre-code .vg, html .gist .gist-file .gist-syntax .highlight pre .vg, .highlight code .vg {
  color: #268bd2 !important;
}
/* line 156, ../../sass/base/_syntax.scss */
.pre-code .vi, html .gist .gist-file .gist-syntax .highlight pre .vi, .highlight code .vi {
  color: #268bd2 !important;
}
/* line 157, ../../sass/base/_syntax.scss */
.pre-code .nv, html .gist .gist-file .gist-syntax .highlight pre .nv, .highlight code .nv {
  color: #268bd2 !important;
}
/* line 159, ../../sass/base/_syntax.scss */
.pre-code .mf, html .gist .gist-file .gist-syntax .highlight pre .mf, .highlight code .mf {
  color: #2aa198 !important;
}
/* line 160, ../../sass/base/_syntax.scss */
.pre-code .m, html .gist .gist-file .gist-syntax .highlight pre .m, .highlight code .m {
  color: #2aa198 !important;
}
/* line 161, ../../sass/base/_syntax.scss */
.pre-code .mh, html .gist .gist-file .gist-syntax .highlight pre .mh, .highlight code .mh {
  color: #2aa198 !important;
}
/* line 162, ../../sass/base/_syntax.scss */
.pre-code .mi, html .gist .gist-file .gist-syntax .highlight pre .mi, .highlight code .mi {
  color: #2aa198 !important;
}
/* line 164, ../../sass/base/_syntax.scss */
.pre-code .s, html .gist .gist-file .gist-syntax .highlight pre .s, .highlight code .s {
  color: #2aa198 !important;
}
/* line 167, ../../sass/base/_syntax.scss */
.pre-code .sd, html .gist .gist-file .gist-syntax .highlight pre .sd, .highlight code .sd {
  color: #2aa198 !important;
}
/* line 168, ../../sass/base/_syntax.scss */
.pre-code .s2, html .gist .gist-file .gist-syntax .highlight pre .s2, .highlight code .s2 {
  color: #2aa198 !important;
}
/* line 169, ../../sass/base/_syntax.scss */
.pre-code .se, html .gist .gist-file .gist-syntax .highlight pre .se, .highlight code .se {
  color: #dc322f !important;
}
/* line 171, ../../sass/base/_syntax.scss */
.pre-code .si, html .gist .gist-file .gist-syntax .highlight pre .si, .highlight code .si {
  color: #268bd2 !important;
}
/* line 173, ../../sass/base/_syntax.scss */
.pre-code .sr, html .gist .gist-file .gist-syntax .highlight pre .sr, .highlight code .sr {
  color: #2aa198 !important;
}
/* line 174, ../../sass/base/_syntax.scss */
.pre-code .s1, html .gist .gist-file .gist-syntax .highlight pre .s1, .highlight code .s1 {
  color: #2aa198 !important;
}
/* line 177, ../../sass/base/_syntax.scss */
.pre-code div .gd, html .gist .gist-file .gist-syntax .highlight pre div .gd, .highlight code div .gd, .pre-code div .gd .x, html .gist .gist-file .gist-syntax .highlight pre div .gd .x, .highlight code div .gd .x, .pre-code div .gi, html .gist .gist-file .gist-syntax .highlight pre div .gi, .highlight code div .gi, .pre-code div .gi .x, html .gist .gist-file .gist-syntax .highlight pre div .gi .x, .highlight code div .gi .x {
  display: inline-block;
  width: 100%;
}

/* line 180, ../../sass/base/_syntax.scss */
.highlight, .gist-highlight {
  margin-bottom: 1.8em;
  background: #f7f7f7;
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 181, ../../sass/base/_syntax.scss */
.highlight pre, .gist-highlight pre {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 0;
}

/* line 190, ../../sass/base/_syntax.scss */
pre::-webkit-scrollbar, .highlight::-webkit-scrollbar, .gist-highlight::-webkit-scrollbar {
  height: .5em;
  background: #c4c4c4;
}
/* line 191, ../../sass/base/_syntax.scss */
pre::-webkit-scrollbar-thumb:horizontal, .highlight::-webkit-scrollbar-thumb:horizontal, .gist-highlight::-webkit-scrollbar-thumb:horizontal {
  background: #ff7e3e;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 194, ../../sass/base/_syntax.scss */
.highlight code {
  background: #000;
}

/* line 197, ../../sass/base/_syntax.scss */
figure.code {
  /*@include border-radius(10px);*/
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
}
/* line 203, ../../sass/base/_syntax.scss */
figure.code pre {
  margin-bottom: 0;
}
/* line 204, ../../sass/base/_syntax.scss */
figure.code figcaption {
  position: relative;
}
/* line 209, ../../sass/base/_syntax.scss */
figure.code .highlight {
  margin-bottom: 0;
}

/* line 214, ../../sass/base/_syntax.scss */
.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  font-weight: normal;
  margin-bottom: 0;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  background-color: #c4c4c4;
  color: #4d4d4d;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  /*border-bottom: 1px solid $pre-border;*/
}

/* line 230, ../../sass/base/_syntax.scss */
.download-source, html .gist .gist-file .gist-meta a[href*=raw], figure.code figcaption a {
  position: absolute;
  right: .8em;
  z-index: 1;
  font-size: 13px;
  padding-left: 3em;
}

/* line 25, ../../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 29, ../../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #82868e;
  color: black;
  background-image: url("noise.png");
}

/* line 40, ../../sass/screen.scss */
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* line 46, ../../sass/screen.scss */
#wrap {
  width: 70%;
  max-width: 45em;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  /*border: 1px red solid;*/
  height: auto;
}
@media screen and (max-width: 865px) {
  /* line 46, ../../sass/screen.scss */
  #wrap {
    width: 100%;
  }
}

/* line 62, ../../sass/screen.scss */
#main {
  min-height: 100%;
  height: auto;
}
@media screen and (min-width: 531px) {
  /* line 62, ../../sass/screen.scss */
  #main {
    border-right-width: 35px;
    border-right-style: solid;
    border-right-color: #ff5e00;
    padding-left: 35px;
    -moz-border-image: url("stripes.png") 0 35 0 0 repeat;
    /* Old firefox */
    -webkit-border-image: url("stripes.png") 0 35 0 0 repeat;
    /* Safari */
    -o-border-image: url("stripes.png") 0 35 0 0 repeat;
    /* Opera */
    border-image: url("stripes.png") 0 35 0 0 repeat;
  }
}

/* line 74, ../../sass/screen.scss */
#content {
  height: auto;
  min-height: 100%;
}

/* line 79, ../../sass/screen.scss */
#wrap > header {
  background-color: white;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  /*box-shadow: 0 0 0em $shadow;*/
  display: block;
  position: relative;
  height: 140px;
}
@media screen and (min-width: 531px) {
  /* line 79, ../../sass/screen.scss */
  #wrap > header {
    border-left-width: 35px;
    border-left-color: #ff5e00;
    border-left-style: solid;
    -moz-border-image: url("stripes.png") 0 0 0 35 repeat;
    /* Old firefox */
    -webkit-border-image: url("stripes.png") 0 0 0 35 repeat;
    /* Safari */
    -o-border-image: url("stripes.png") 0 0 0 35 repeat;
    /* Opera */
    border-image: url("stripes.png") 0 0 0 35 repeat;
    margin-right: 35px;
  }
}
/* line 101, ../../sass/screen.scss */
#wrap > header hgroup {
  padding: 3em 0em 2em 2em;
  display: inline-block;
}
@media screen and (min-width: 866px) {
  /* line 79, ../../sass/screen.scss */
  #wrap > header {
    /*float:left;*/
  }
  /* line 108, ../../sass/screen.scss */
  #wrap > header hgroup {
    padding: 3em 0em 2em 2em;
    /*float:left;*/
  }
}
@media screen and (max-width: 531px) {
  /* line 115, ../../sass/screen.scss */
  #wrap > header hgroup {
    font-size: 0.75em;
  }
}
/* line 121, ../../sass/screen.scss */
#wrap > header .header-links {
  list-style-type: none;
  margin: 0px;
}
/* line 124, ../../sass/screen.scss */
#wrap > header .header-links a {
  color: black;
}
@media screen and (min-width: 866px) {
  /* line 121, ../../sass/screen.scss */
  #wrap > header .header-links {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 1em 35px;
  }
  /* line 136, ../../sass/screen.scss */
  #wrap > header .header-links li {
    margin: 0px;
    padding: 0px;
  }
}
@media screen and (max-width: 865px) and (min-width: 531px) {
  /* line 121, ../../sass/screen.scss */
  #wrap > header .header-links {
    display: block;
    position: relative;
    margin-left: 2em;
    padding: 0.25em 0em;
  }
  /* line 148, ../../sass/screen.scss */
  #wrap > header .header-links li {
    display: inline;
  }
  /* line 151, ../../sass/screen.scss */
  #wrap > header .header-links li + li:before {
    content: "/";
    margin-right: 0.25em;
  }
  /* line 155, ../../sass/screen.scss */
  #wrap > header .header-links span + span:before {
    content: "/";
    margin-right: 0.25em;
  }
}
@media screen and (max-width: 531px) {
  /* line 121, ../../sass/screen.scss */
  #wrap > header .header-links {
    display: block;
    position: relative;
    margin-left: 2em;
    padding: 0.25em 0em;
  }
  /* line 167, ../../sass/screen.scss */
  #wrap > header .header-links li {
    display: inline;
  }
  /* line 170, ../../sass/screen.scss */
  #wrap > header .header-links li + li:before {
    content: "/";
    margin-right: 0.25em;
  }
  /* line 175, ../../sass/screen.scss */
  #wrap > header .header-links span {
    font-size: 1.15em;
    display: block;
  }
}

/* line 186, ../../sass/screen.scss */
nav {
  /*box-shadow: 0 0 0em $shadow;*/
  color: white;
  background-color: #ff7e3e;
  z-index: 1500;
  height: 35px;
  padding: 0.5em 35px;
}
@media screen and (max-width: 531px) {
  /* line 186, ../../sass/screen.scss */
  nav {
    padding: 0.5em 15px;
  }
}
/* line 198, ../../sass/screen.scss */
nav li, nav form, nav fieldset, nav ul {
  display: inline;
}
/* line 201, ../../sass/screen.scss */
nav a {
  color: white;
}
/* line 205, ../../sass/screen.scss */
nav .prev {
  float: left;
}
/* line 208, ../../sass/screen.scss */
nav .next {
  float: right;
}
/* line 212, ../../sass/screen.scss */
nav ul {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 0px;
}
/* line 217, ../../sass/screen.scss */
nav ul li + li:before {
  /*content: '\2605';*/
  /*unfortunately the unicode star is inconsistently supported, so here's an svg one instead.
  Ideally, some sort of svg icon thing might be better?*/
  content: url("star.svg");
  padding: 0 0.5em 0 0.25em;
  fill: white;
  vertical-align: middle;
}

/* line 229, ../../sass/screen.scss */
.header-nav {
  text-align: right;
}
@media screen and (min-width: 531px) {
  /* line 229, ../../sass/screen.scss */
  .header-nav {
    margin: 0px 35px;
    clear: both;
    position: relative;
  }
  /* line 236, ../../sass/screen.scss */
  .header-nav:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -35px;
    top: 0px;
    border: 35px solid;
    border-color: #ff7e3e transparent transparent transparent;
  }
  /* line 247, ../../sass/screen.scss */
  .header-nav:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: -35px;
    bottom: 0px;
    border: 35px solid;
    border-color: transparent transparent #ff7e3e transparent;
  }
}

/* line 261, ../../sass/screen.scss */
.post-tags {
  text-align: center;
}

/* line 265, ../../sass/screen.scss */
.post-tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75%;
}

/* line 271, ../../sass/screen.scss */
.footer-nav {
  text-align: center;
}
@media screen and (min-width: 531px) {
  /* line 271, ../../sass/screen.scss */
  .footer-nav {
    margin: 0px 35px;
    clear: both;
    position: relative;
  }
  /* line 278, ../../sass/screen.scss */
  .footer-nav:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: -35px;
    top: 0px;
    border: 35px solid;
    border-color: #ff7e3e transparent transparent transparent;
  }
  /* line 289, ../../sass/screen.scss */
  .footer-nav:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -35px;
    bottom: 0px;
    border: 35px solid;
    border-color: transparent transparent #ff7e3e transparent;
  }
}

/* line 303, ../../sass/screen.scss */
article {
  background-color: white;
  padding: 2em 2.5em;
  min-height: 100%;
  height: auto;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  /*box-shadow: 0 0 0em $shadow;*/
}
/* line 310, ../../sass/screen.scss */
article > header {
  border-bottom: 1px black solid;
  margin-bottom: 1em;
}
/* line 311, ../../sass/screen.scss */
article > header h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}
/* line 318, ../../sass/screen.scss */
article .meta {
  font-weight: normal;
}
@media screen and (max-width: 531px) {
  /* line 325, ../../sass/screen.scss */
  article a {
    word-break: break-all;
  }
}
/* line 330, ../../sass/screen.scss */
article ul {
  list-style-type: circle;
  margin-left: 2em;
}
/* line 338, ../../sass/screen.scss */
article > footer {
  display: block;
  position: relative;
  margin-top: 1.5em;
  padding-top: 0.5em;
  border-top: 1px black solid;
}
/* line 344, ../../sass/screen.scss */
article > footer .meta {
  position: relative;
}
/* line 346, ../../sass/screen.scss */
article > footer .meta .basic-alignment {
  display: inline-block;
  width: 50%;
  display: block;
  min-height: 2.5em;
}
/* line 352, ../../sass/screen.scss */
article > footer .meta .left {
  position: relative;
  left: 0px;
  padding-left: 0px;
}
/* line 356, ../../sass/screen.scss */
article > footer .meta .left:before {
  content: "\00ab";
  width: 0px;
  height: 0px;
  position: absolute;
  left: -0.8em;
}
/* line 365, ../../sass/screen.scss */
article > footer .meta .right {
  text-align: right;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 0px;
}
/* line 371, ../../sass/screen.scss */
article > footer .meta .right:before {
  content: "\00bb";
  width: 0px;
  height: 0px;
  position: absolute;
  right: -0.3em;
}

/* line 383, ../../sass/screen.scss */
article + article {
  margin-top: 0.55em;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
}

/* line 389, ../../sass/screen.scss */
article:last-of-type {
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

/* line 395, ../../sass/screen.scss */
#blog-archives h2 {
  color: #82868e;
}

/* line 400, ../../sass/screen.scss */
#blog-archives article {
  /*border: 1px red solid;*/
  padding: 0em 1em;
  margin: 0px 1em 0px 2.9em;
  color: #82868e;
  position: relative;
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
}
/* line 407, ../../sass/screen.scss */
#blog-archives article time {
  /*position: relative;*/
  text-align: right;
  left: -3em;
  /*top: -1.8em;*/
}
/* line 412, ../../sass/screen.scss */
#blog-archives article time .year {
  display: none;
}
/* line 417, ../../sass/screen.scss */
#blog-archives article footer {
  display: inline;
  border: none;
}
/* line 422, ../../sass/screen.scss */
#blog-archives article h3 {
  margin-top: 0px;
  margin-bottom: 0.15em;
  font-weight: normal;
  /*@extend h3;*/
}
/* line 433, ../../sass/screen.scss */
#blog-archives article + article {
  margin-top: 0.65em;
  padding-top: 0.65em;
  border-top: 1px black solid;
}

/* line 440, ../../sass/screen.scss */
section {
  background-color: white;
  padding: 0em 3em 2em 3em;
}

/* line 447, ../../sass/screen.scss */
#wrap > footer {
  padding: 1em 2em;
  text-align: center;
  background-color: white;
  position: relative;
  bottom: 0px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  /*box-shadow: 0 0 0em $shadow;*/
}
@media screen and (min-width: 531px) {
  /* line 447, ../../sass/screen.scss */
  #wrap > footer {
    margin: 0px 35px;
  }
}
/* line 458, ../../sass/screen.scss */
#wrap > footer span {
  display: block;
}

/* line 468, ../../sass/screen.scss */
.sharing {
  text-align: center;
  margin: 0em auto 0.5em;
}

/* line 474, ../../sass/screen.scss */
img {
  max-width: 100%;
}
