		{{ template "theme/partials/header.html" . }}

<div>
<article class="hentry" role="article">



<div id="blog-archives">

Hey! I'm Julia. Welcome to my blog. Here's every post I've ever written. If you want somewhere to start, try <a href="/categories/favorite">my favorites</a> (the ones with stars next to them, below). Enjoy!
<br><br>

If you like these posts, you might also like <a href="/zines">my fanzines
about strace/linux debugging tools/networking</a> and 
<a href="https://drawings.jvns.ca">these drawings </a>. You can
subscribe to a <a href="/newsletter">weekly digest</a>.
   
<!--
   I have an <a
   href="https://store.jvns.ca">experimental store</a>. -->

<br><br>
<table> 
{{ range .Data.Pages }}
{{ if ( ne true .Params.staticpage ) }}
<ul id="tags">
</ul>
<tr>
<td style="width: 5.5em">
<time style="padding-right: 10px; color: #444; font-size: 14px;" datetime="" pubdate>{{ .Date.Format "Jan 2 2006" }}</time>
</td>
<td style="padding-right: 0.25em; color: orange;">
  {{ range .Params.categories }}
    {{ if eq . "favorite"}} ★ {{ end }}
  {{ end }}
</td>
<td>
<span><a  style="font-family: Montserrat, sans-serif; color: black;font-size: 14px;" href="{{.RelPermalink}}">{{.Title}}</a></span>
</td>
</tr>
{{ end }}
{{ end }}
</table>
</div>


</article>
</div>

	{{ template "theme/partials/footer.html" }}	
