{{ template "theme/partials/header.html" . }}

<div>
<article class="hentry" role="article">



<div id="blog-archives">

Hey! I'm Julia. Welcome to my blog. Here's every post I've ever written, organized by category.
Enjoy! You can subscribe to a <a href="/newsletter">weekly digest of these blog posts</a>.

<br><br>

If you like these posts, I also publish computer zines at <a href="https://wizardzines.com">Wizard Zines</a>.
   

<h3> Most recent 10 posts </h3>
<table> 
{{ range (first 10 .Data.Pages) }}
{{ if ( ne true .Params.staticpage ) }}
<tr>
<td style="width: 5.5em">
<time style="padding-right: 10px; color: #444; font-size: 14px;" datetime="" pubdate>{{ .Date.Format "Jan 2 2006" }}</time>
</td>
<td>
<span><a  style="font-family: Montserrat, sans-serif; color: black;font-size: 14px;" href="{{.RelPermalink}}">{{.Title}}</a></span>
</td>
</tr>
{{ end }}
{{ end }}
</table>
</div>

<br>
and all posts by category:


            {{ $taxonomy := .Site.Taxonomies.juliasections}}
            {{ range $key := .Site.Params.sections }}
			<table> 
				<h3> {{ humanize (replace $key "-" " " )}} </h2>
				{{ range $taxonomy.Get $key }}
				<tr>
					<td style="width: 5.5em">
						<time style="padding-right: 10px; color: #444; font-size: 14px;" datetime="" pubdate>{{ .Date.Format "Jan 2006" }}</time>
					</td>
					<td style="padding-right: 0.25em; color: orange;">
						{{ range .Params.categories }}
						{{ if eq . "favorite"}} ★ {{ end }}
						{{ end }}
					</td>
					<td>
						<span><a  style="font-family: Montserrat, sans-serif; color: black;font-size: 14px;" href="{{.RelPermalink}}">{{.Title}}</a></span>
					</td>
				</tr>
				{{ end }}
			</table>
			{{ end }}
</article>
</div>

	{{ template "theme/partials/footer.html" }}	
